.container {
  display: flex;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

.planner {
  max-width: 100vw;
}

.planner.draweropen {
  max-width: 85vw;
}

:root,
body {
  --primary: #4355b9;
  --on-primary: #ffffff;
  --primary-container: #dee0ff;
  --on-primary-container: #00105c;
  --secondary: #5b5d72;
  --on-secondary: #ffffff;
  --secondary-container: #e0e1f9;
  --on-secondary-container: #181a2c;
  --tertiary: #77536d;
  --on-tertiary: #ffffff;
  --tertiary-container: #ffd7f1;
  --on-tertiary-container: #2d1228;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #410002;
  --background: #fefbff;
  --on-background: #1b1b1f;
  --surface: #fbf8fd;
  --on-surface: #1b1b1f;
  --surface-variant: #e3e1ec;
  --on-surface-variant: #46464f;
  --outline: #767680;
  --outline-variant: #c7c5d0;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #303034;
  --inverse-on-surface: #f3f0f4;
  --inverse-primary: #bac3ff;
  --surface-dim: #dcd9de;
  --surface-bright: #fbf8fd;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f6f2f7;
  --surface-container: #f0edf1;
  --surface-container-high: #eae7ec;
  --surface-container-highest: #e4e1e6;
  --overlay: rgb(0 0 0 / 0.5);
  --active: rgb(0 0 0 / 0.1);
  --elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.32);
  --elevate2: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 0.4);
  --elevate3: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 0.48);
}
